/* Aside styles */

.aside-title{
    font-size: 11px;
    font-weight: bold;
    line-height: 1.45;
    margin:0px 24px 10px 18px;
    letter-spacing: 0.6px;
}
.layout--aside{
    padding-top:24px;
}