//*---------------------------------------*
//  Badge
//*---------------------------------------*
.badge {
    padding: $spacer-1 $spacer-3;
    color: $grey-600;

    @extend .p-small;

    font-weight: normal;
    border-radius: $spacer-3;
    background-color: $grey-50;

    //*---------------------------------------*
    //  Badge Pill
    //*---------------------------------------*
    &.badge-pill {
        padding: 2px 7px !important;
        border-radius: 50%;
        background-color:$cool-blue-dark;
        color: white;
    }

    //*---------------------------------------*
    //  .Bg-Primary
    //*---------------------------------------*
    &.bg-primary {
        color: white;
        background-color: $cool-blue-darker !important;
    }
}