//*---------------------------------------*
//  Component Group
//*---------------------------------------*
.component-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: -0.5rem;

    > * {
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;

        &:last-child {
            margin-right: 0;
        }
    }
}