/*
    Component Footer
*/


.footer{
    height: 160px;
    background-color: $cool-blue-darker;
    span{
        color:white;
        line-height: 1.43;
        letter-spacing: 0.2px;
        font-size: $font-size-sm;
        display:block;
        text-align: center;
    }
    span:first-child{
        padding: 60px 0 0 0;  
    }
    span:nth-child(2){
        padding: 0 10px;
    }

}