//*---------------------------------------*
//  Container Fluid, Container
//*---------------------------------------*
.container-fluid, .container {
    width: 100%;

    //*---------------------------------------*
    //  Container Fluiid Sm
    //*---------------------------------------*
    &.container-fluid-sm {
        padding-left: 6px;
        padding-right: 6px;

        .row {
            margin-left: -6px;
            margin-right: -6px;

            div[class*="col-"] {
                padding-left: 6px;
                padding-right: 6px;
            }
        }
    }
}