//*---------------------------------------*
//  Page Screen
//*---------------------------------------*
.page-screen {
    position: fixed;
    top: 3px;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 100vh;
    overflow-y: scroll;
    z-index: 3000;
    background-color: $clay;
    transform: translate3d(0, 100%, 0);
    transition: all 800ms cubic-bezier(0.165, 0.84, 0.44, 1);

    &.show {
        pointer-events: auto;
        transform: translate3d(0, 0, 0);
    }
}