//*---------------------------------------*
//  Third Party
//*---------------------------------------*
@import "bootstrap/bootstrap";

@import url("https://fonts.googleapis.com/css?family=Lato");

@font-face {
	font-family: "Brasley";
    src: url("/assets/toolkit/fonts/Brasley-Regular.otf") format('opentype');
	src: url('/assets/toolkit/fonts/Brasley-Regular.eot');
	src: local('☺'), url('/assets/toolkit/fonts/Brasley-Regular.woff') format('woff'), url('/assets/toolkit/fonts/Brasley-Regular.ttf') format('truetype'), url('/assets/toolkit/fonts/Brasley-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



//*---------------------------------------*
//  Mixins
//*---------------------------------------*
@import "mixins";

//*---------------------------------------*
//  Variables
//*---------------------------------------*
@import "variables";

//*---------------------------------------*
//  Base
//*---------------------------------------*
@import "normalize";
@import "base";
@import "typography";
@import "color";

//*---------------------------------------*
//  Components
//*---------------------------------------*
@import "components/alert";
@import "components/aside";
@import "components/avatar";
@import "components/badge";
@import "components/button";
@import "components/card";
@import "components/combo-progress";
@import "components/combo-search";
@import "components/component-group";
@import "components/dropdown";
@import "components/form";
@import "components/grid";
@import "components/header";
@import "components/icon";
@import "components/image";
@import "components/info-row";
@import "components/layout";
@import "components/link";
@import "components/list-group";
@import "components/masthead";
@import "components/modal";
@import "components/nav";
@import "components/navigation";
@import "components/page-screen";
@import "components/panel-list";
@import "components/pill-group";
@import "components/progress";
@import "components/read-more";
@import "components/stat";
@import "components/table";
@import "components/drop-zone";
@import "components/footer";


//*---------------------------------------*
//  Libs
//*---------------------------------------*
@import "libs/bootstrap-select";
@import "libs/bootstrap-tagsinput";
@import "libs/daterangepicker";
@import "libs/magnific-popup";

//*---------------------------------------*
//  Testing Only
//*---------------------------------------*
// @import "testing";