<div class="card card-hover card-aside mb-4">
  <div class="card-block">
    <div class="media align-items-stretch">
      <div class="avatar avatar-xl mr-5">
        <span>Z</span>
      </div>
      <div class="media-body d-flex flex-column justify-content-between">
        <div>
          <h3 class="card-title">Zip Car</h3>
          <p class="card-subtitle stat-group mb-3">
            <span>Engagement #001</span>
            <span class="stat-divider"></span>
            <span>Lead Auditor: Sally S.</span>
          </p>
        </div>
        <div class="stat-group">
          <a href="javascript:void(0);">
            <strong>37</strong> Pending
          </a>
          <span class="stat-divider"></span>
          <a href="javascript:void(0);">
            <strong>2</strong> Completed
          </a>
          <span class="stat-divider"></span>
          <a href="javascript:void(0);">
            <strong>1</strong>Need More Information
          </a>
          <span class="stat-divider"></span>
          <a href="javascript:void(0);">
            <strong>1</strong>Denied
          </a>
        </div>
      </div>
    </div>
  </div>
  <aside class="card-block">
    <h6>LATEST ACTIVITY</h6>
    <time>12/20/2016 3:45am</time>
    <p>Lisa J. downloaded confirmation for Captial Trust Account #665555555</p>
  </aside>
</div>
