<main id="main" role="main">
  <div class="masthead masthead-shadow pt-5 pb-4 bg-info">
    <div class="container-fluid">
      <div class="wrap">
        <div class="company-logo-container">
          <div class="company-logo">
            <div class="d-lg-none avatar avatar-xl bg-avatar-3 company-avatar company-avatar-small">
              <span>H</span>
            </div>
            <div class="d-none d-lg-block avatar avatar-xl bg-avatar-3 company-avatar company-avatar-large">
              <span>H</span>
            </div>
            <p class="d-none d-lg-block p-small company-text pt-4">Houser CPA Group</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-2">
          </div>
          <div class="col-12 col-lg-10">
            <div class="mb-4" style="display:flex;">
              <h2 class="mr-2">Your Confirmations</h2>
              <div class="dropdown">
                <a class="dropdown-toggle " href="javascript:void(0);" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  As of 12/31/2016
                  <svg class="icon icon-caret-circle i-dropdown" width="10" height="10">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-caret-line"></use>
                  </svg>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="javascript:void(0);">As of 12/31/2016</a>
                  <a class="dropdown-item" href="javascript:void(0);">As of 10/31/2016</a>
                  <a class="dropdown-item" href="javascript:void(0);">Initiated within last 30 days</a>
                  <a class="dropdown-item" href="javascript:void(0);">Initiated within last 60 days</a>
                  <a class="dropdown-item" href="javascript:void(0);">Initiated within last 90 days</a>
                </div>
              </div>
            </div>
            <div class="stat-group">
              <a href="javascript:void(0);">
                <strong>126</strong>All Requests
              </a>
              <span class="stat-divider"></span>
              <a href="javascript:void(0);">
                <strong>24</strong> Authorization Pending
              </a>
              <span class="stat-divider"></span>
              <a href="javascript:void(0);">
                <strong>81</strong> In Progress
              </a>
              <span class="stat-divider"></span>
              <a href="javascript:void(0);">
                <strong>5</strong> Confirmed
              </a>
              <span class="stat-divider"></span>
              <a href="javascript:void(0);">
                <strong>6</strong> Need More Information
              </a>
              <span class="stat-divider"></span>
              <a href="javascript:void(0);">
                <strong>2</strong> Denied
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="wrap">
      <div class="row">
        <div class="col-12 col-lg-10 offset-lg-2">
          <div class="mt-5 mb-5"></div>
          <h3 class="mb-5">5 Clients</h3>
          <app-client-card></app-client-card>
          <app-client-card></app-client-card>
          <app-client-card></app-client-card>
          <app-client-card></app-client-card>
          <app-client-card></app-client-card>
        </div>
      </div>
    </div>
  </div>
</main>
